body	{
	margin:0;
	padding:0;
	font-family:roboto;
	font-size:22px;
	letter-spacing:normal;
	word-spacing:0.2em;
	line-height:1.6em;
}
.container	{
	width:85%;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:50px;
}
header	{
	color:white;
	background-color:#19628A;
}
.fifty	{
	width:49%;
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
}
nav	{
	top:0;
}
ul	{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#19628A;
}
li	{
	display:inline;
	padding:8px;
	background-color:#19628A;
}
a	{
	color:white;
	text-decoration:none;
}
span	{
	font-weight:bold;
}
h1	{
	font-weight:bold;
	font-size:45px;
}
.left {
	text-align:left;
}
.center	{
	text-align:center;
}
button	{
	color:white;
	background-color:#FD862F;
	padding:12px;
	width:30%;
	font-size:22px;
	font-weight:bold;
	border:none;
	cursor:pointer;
}
.paragraph	{
	width:500px;
}
.www-image	{
	width:300px;
	margin-left:auto;
}
.right	{
	text-align:right;
}
.grey-bg	{
	background-color:#f5f5f5;
}
h2	{
	color:black;
}
.threedivs	{
	width:32%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	overflow:hidden;
	color:#555555;
	font-family:roboto;
	font-size:20px;
	padding-right:5px;
}
input	{
	color:#CCCCCC;
	width:300px;
	padding:12px;
	border:1px solid #CCCCCC;
}
input[value=Message]
{
	width:300px;
	height:150px;
	padding:20px;
}
input[type=submit]
{
	width:300px;
	color:white;
	background-color:#FD862F;
	font-size:22px;
	font-weight:bold;
	border:none;
	padding:15px;
	cursor:pointer;
}
.table-margin	{
	margin-left:80px;
}
table	{
	border-collapse:collapse;
	width:350px;
	border-color:#CCCCCC;
}
th	{
	text-align:center;
	vertical-align:middle;
	padding:10px;
	border-color: #CCCCCC;
}
td	{
	text-align:center;
	vertical-align:middle;
	padding:10px;
	border-color: #CCCCCC;
}
.thirty 	{
	position:relative;
	width:35%;
	display:inline-block;
	overflow:hidden;
	margin:0%;
	color:#AAAAAA;
}
.sixty	{
	position:relative;
	width:60%;
	display:inline-block;
	overflow:hidden;
	margin:0%;
	font-size:18px;
}
.image	{
	width:250px;
}
footer	{
	color:white;
	background-color:#333333;
	font-size:18px;
	letter-spacing:normal;
	word-spacing:0.2em;
	padding:20px;
	text-align:center;
	clear:both;
	bottom:0;
}

