body	{
	margin:0;
	padding:0;
	font-family:roboto;
	font-size:22px;
	letter-spacing:normal;
	word-spacing:normal;
	line-height:1.6em;
}
.container	{
	width:85%;
	margin:0 auto;
}
header	{
	color:white;
	background-color:#19628A;
	padding-bottom:30px;
}
.fifty	{
	width:49%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
h1	{
	font-weight:bold;
	font-size:45px;
}
h2	{
	font-size:30px;
}
button	{
	color:white;
	background-color:#FD862F;
	padding:12px;
	width:30%;
	font-size:22px;
	font-weight:bold;
	border:none;
	cursor:pointer;
}
.paragraph	{
	width:500px;
}
img	{
	width:240px;
	display:block;
	margin:auto;
	margin-top:20px;
}
main	{
	padding-bottom:5%;
}
input	{
	color:#CCCCCC;
	padding:10px;
	border:1px solid #CCCCCC;
	width:300px;
}
input[value=Message]
{
	width:300px;
	height:120px;
	padding:20px;
}
input[type=submit]
{
	width:300px;
	color:white;
	background-color:#FD862F;
	font-size:22px;
	font-weight:bold;
	border:none;
	padding:10px;
	cursor:pointer;
}
table	{
	border-collapse:collapse;
	border-color:#CCCCCC;
	width:400px;
}
th	{
	height:20px;
	text-align:center;
	vertical-align:middle;
	padding:15px;
	border-color:#CCCCCC;
	
}
td	{
	text-align:center;
	vertical-align:middle;
	padding:12px;
	border-color:#CCCCCC;
}
.s-header	{
	padding:30px;
	text-align:center;
}
ul	{
	list-style-type:none;
	text-decoration:none;
	margin:0%;
	padding:0%;
	overflow:hidden;
}
.logo	{
	padding:8px;
	float:left;
	top:0;
}
li	{
	display:inline;
	padding:8px;
	float:right
}
a	{
	color:white;
}	
.thirty 	{
	position:relative;
	width:35%;
	display:inline-block;
	overflow:hidden;
	margin:0%;
}
.sixty	{
	position:relative;
	width:60%;
	display:inline-block;
	overflow:hidden;
	margin:0%;
}
.image	{
	width:60%;
	height:auto;
	margin:auto;
	padding:5%;
}
.header1	{
	padding-right:10%;
}
.header2	{
	background-color:#EEEEEE;
}
footer	{
	color:white;
	background-color:#333333;
	font-size:19px;
	padding:30px;
	text-align:center;
	clear:both;
}

